html,
body {
  margin: 0;
  padding: 0;
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f2f5de;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
  color: #442200;
}

header {
  padding: 48px 0 24px;
}

main {
  min-height: 1200px;
}

.headerWrapper {
  width: 100dvw;
  max-width: 1452px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logoWrapper {
  flex: 1;
  margin-top: 48px;
}

.logo {
  min-width: 300px;
  min-height: 24px;
  max-height: 96px;
}

.name {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
}

.personal {
  display: flex;
  margin: 48px 0 0;
  flex: 0 0 fit-content;
}

.info {
  text-align: right;
  margin: 8px 32px 0 0;
}

.contact {
  text-align: 16px;
  line-height: 24px;
}

.avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: #777;
  border: 2px solid #000;
}

nav {
  position: absolute;
  margin: 12px 0 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  background-size: cover;
  padding: 4px 0;
  width: 100dvw;
  border-bottom: solid 3px #fff;
  border-top: solid 3px #fff;
}

.listWrapper {
  max-width: 1456px;
  margin: 0 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.navigation li {
  flex: 1;
}

.navigation li a {
  margin: 0 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 16px;
  height: 56px;
  font-size: 28px;
  line-height: 32px;
  color: #420;
  text-decoration: none;
  transition: all 120ms ease-in-out;
  border-radius: 16px;
  text-shadow: 0 1px 8px #fff;
}

.navigation li a:hover {
  scale: 1.05;
  background: #9FB50E77;

}

.navigation li a:hover:not(:active) {
  scale: 1.1;
  background: #9FB50E66;
}

main {
  margin: 0 auto;
  width: 100%;
  /* max-width: 1280px; */
  /* padding: 56px 48px; */
  padding: 56px 0;
}

article {
  margin-left: max(calc(50vw - 720px), 32px);
  max-width: 800px;
  flex-grow: 3;
}

aside {
  flex: 1;
  max-width: 33vw;
  margin-left: 72px;
}

h1 {
  font-size: 56px;
  line-height: 64px;
  margin: 0 0 64px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

h2 {
  margin: 96px 0 0;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  max-width: 80%;
}

h2:first-child {
  margin: 0;
}

h3 {
  margin: 24px 0 0;
  font-size: 28px;
  line-height: 48px;
}

p {
  margin: 24px 0 0;
  font-size: 20px;
  line-height: 32px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.articleImage {
  max-height: 61vh;
  width: auto;
}

.lead {
  max-width: 800px;
  margin: 0 auto;
}

.leadText {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  color: #420a;
  font-style: italic;
  padding: 40px 0 96px;
}

footer {
  border-top: 4px solid #420;
  background: #000E;
  padding: 56px 32px;
}

footer > * {
  color: #f2f5deAA;
}