article {
  width: 100%;
  padding: 40px 24px;
}

.articleImage {
  width: auto;
  max-width: 640px;
}

aside {
  display: none;
}

@media screen and (min-width: 768px) {

  article {
    padding: 128px 0 256px max(calc(50vw - 720px), 32px);
    max-width: 800px;
    width: calc(67vw - 72px);
  }

  aside {
    display: block;
    top: 0;
    right: 0;
    width: 33vw;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 56px;
  line-height: 64px;
  margin: 0 0 64px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

h2 {
  margin: 96px 0 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  max-width: 80%;
  letter-spacing: -0.04em;
}

h2:first-child {
  margin: 0;
}

h3 {
  margin: 48px 0 0;
  font-size: 28px;
  line-height: 36px;
}

p {
  margin: 24px 0 0;
  font-size: 20px;
  line-height: 32px;
}
