article {
  width: 100%;
  padding: 40px 24px 64px;
}

.articleImage {
  display: flex;
  width: 100%;
  max-width: min(100%, 640px);
  height: 640px;
  object-fit: cover;
  object-position: 50% 30%;
}

.articleImage__mobile {
  margin: 96px -24px 0;
  width: 100dvw;
  max-width: 100dvw;
  height: 320px;
}

aside {
  display: none;
}

h2 small,
h3 small {
  font-size: 24px;
  line-height: 64px;
  letter-spacing: 0.04em;
  opacity: 0.5;
}

.row {
  display: flex;
  justify-content: center;
  position: relative;
}

h1 {
  font-size: 56px;
  line-height: 64px;
  margin: 0 0 64px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

h2 {
  margin: 96px 0 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -0.04em;
}

h2:first-child {
  margin: 0;
}

h3 {
  margin: 48px 0 0;
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 28px;
  line-height: 36px;
  font-variant: all-small-caps;
  letter-spacing: 0.04em;
  opacity: 0.5;
}

p {
  margin: 24px 0 0;
  font-size: 20px;
  line-height: 32px;
}

.box {
  width: min(100dvw, 640px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 24px;
  font-size: 24px;
}

.boxTower {
  display: grid;
  row-gap: 32px;
}

@media screen and (min-width: 768px) {
  article {
    flex: 3 1;
    padding: 64px;
    width: calc(67vw - 72px);
    max-width: 960px;
  }

  .articleImage__mobile {
    display: none;
  }

  .desktopHidden {
    display: none;
  }

  aside {
    flex: 1 1;
    overflow: hidden;
    display: grid;
    row-gap: 32px;
    max-width: 640px;
    margin: 32px 0;
  }

  h2 {
    max-width: 80%;
  }

  .box {
    height: 640px;
    padding: 0 32px 0 64px;
    font-size: 30px;
  }
}

.dim {
  opacity: 0.5;
}

.imageLink:hover {
  filter: brightness(0.8);
}