footer {
  border-top: 4px solid #444;
  background: #000e;
  padding: 32px 0 112px;
}

footer > * {
  color: #f2f5deaa;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
}

.footerCol.left {
  text-align: right;
}

.footerLogo {
  padding: 24px 24px 0;
  height: 172px;
  width: min-content;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 56px 0 32px;
  }

  .footerWrapper {
    flex-direction: row;
    align-items: flex-end;
  }

  .footerLogo {
    padding: 0 64px 24px;
  }
}
